################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/Diploma_work.docx
/Diploma_work.docx
*.docx
